Welcome to the <%= node['motd-attributes']['company'] %> neighborhood
<%= node['motd-attributes']['message'] %>
The hostname of his node is <%= node['hostname'] %>
The IP address of this node is <%= node['ipaddress'] %>
